{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Como Usar parciales con | npm hbs</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis delectus ipsam distinctio natus repudiandae fugiat neque, iusto non, itaque eligendi cumque nemo, illum nesciunt odit quos voluptas officiis molestiae voluptate.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/loftiHipHop.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}